<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052857072669-r0q6jeege1sliqeh72c19rm08t8fssq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052857072669-r0q6jeege1sliqeh72c19rm08t8fssq1</string>
	<key>API_KEY</key>
	<string>AIzaSyCo7W8mVKOqeZ_LFPylKv2S62XgMI8VNao</string>
	<key>GCM_SENDER_ID</key>
	<string>1052857072669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amolina.flutterauthentication.flutterAuthentication</string>
	<key>PROJECT_ID</key>
	<string>flutterauthentication-d6e25</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauthentication-d6e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052857072669:ios:76f82897b9239e7429daf4</string>
</dict>
</plist>